.Contact {
  padding-left: 8vw !important;
  padding-right: 5vw !important;
  padding-top: 15vh;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: column;
}

.subsEmailContainer {
  text-align: center;

  width: 60vw;
  padding: 2vw 3vw;
  align-self: center;
  border: 2px;
  border-radius: 8px;
  position: relative;
  bottom: -12vh;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emailField {
  margin: 1vw 0px !important;
  margin-left: 2vw !important;
  width: 60vw !important;
  border-color: red !important;
}

.buttons {
  margin: 1vw 0px !important;
  margin-left: 2vw !important;
  width: 60vw !important;
  border-color: red !important;
  width: 15vw !important;
}

.bigText {
  font-size: 3vw;
}

.smallText {
  font-size: 1.5vw;
}
