.item {
}

.card {
  margin: 2vw 1vw;
}

.centerX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.logos {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  align-self: center;
  width: 7vw;
  height: 7vw;
}

.name {
  text-align: center;
  font-size: 1.3vw;
}

.avatar:hover {
  filter: none;
  transform: scale(1.4);
}

.Education {
  display: flex;
}

@media (min-width: 1800px) {
  .avatar {
    align-self: center;
    width: 5vw;
    height: 5vw;
  }
}

@media (max-width: 1100px) and (min-width: 600px) {
  .underOne {
    flex-direction: column;
  }

  .avatar {
    align-self: center;
    width: 25vw;
    height: 25vw;
  }
}

@media (max-width: 600px) {
  .avatar {
    align-self: center;
    width: 15vw;
    height: 15vw;
  }
  .Education {
    flex-direction: column;
  }
}
