.item {
}

.card {
  margin: 1vw;
}

.centerX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  align-self: center;
}
.name {
  text-align: center;
  font-size: 1.3vw;
}

.avatar:hover {
  filter: none;
  transform: scale(1.4);
}
