.Footer {
  padding-top: 15vw;
  padding-bottom: 10vw;

  background: rgb(0, 114, 255);
  background: linear-gradient(
    198deg,
    rgba(0, 114, 255, 1) 0%,
    rgba(0, 198, 255, 1) 100%
  );
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footerLogo {
  display: flex;
}

.footerSocail {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.iconSocail {
  margin: 1vw;
}

.footerCopyright {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footerCopyrightTitle {
  font-size: 1.5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
