* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

.App {
}
.intro {
  padding-top: 3%;
  padding-left: 5vw !important;
  padding-right: 5vw !important;
}

.h1 {
  font-size: 10vw;
}

h4 {
}

.button {
  margin-right: 3vw !important;
  padding-left: 2vw !important;
  padding-right: 2vw !important;
  padding-top: 1vw !important  ;
  padding-bottom: 1vw !important  ;
}

.button:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
